@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$color-prime: #2196F3;

body {
    margin: 0;
    font-family: "Open Sans";
    background: #F3F7FA;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.img {
    margin: 35px;
}

.content {
    display: flex;
    justify-content: center;
}

.search-panel {
    margin: 10px;

    &__button {
        width: 168px;
        height: 50px;
        background: #FFFFFF;

        border-top: 1px solid #DFE5EC;
        border-bottom: 1px solid #DFE5EC;
        border-left: 0.5px solid #DFE5EC;
        border-right: 0.5px solid #DFE5EC;

        box-sizing: border-box;

        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        cursor: pointer;
        

        &:first-child {
            border-radius: 5px 0 0 5px;
        }

        &:last-child {
            border-radius: 0 5px 5px 0;
        }

        &:hover {
            background: #F1FCFF;
            color: black
        }
    }
}

.button-active {
    background: $color-prime;
    color: #FFFFFF
}

.ticket-form {
    width: 502px;
    height: 184px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px;

    & .line {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .line:first-child {
        margin-bottom: 20px;
    }

    & .line:nth-child(2) {
        margin-bottom: 10px;
    }

    &__price {
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        color: $color-prime
    }

    &__semgent {
        display: flex;
        flex-direction: column;
        width: 140px;
        height: 39px;

        &-title {
            color: #A0B0B9;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }

        &-value {
            color: #4A4A4A;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
        }
    }
}

.filter-panel {
    width: 232px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px;

    &__title {
        height: 12px;
        padding: 10px 20px;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
    }

    &__item {
        height: 20px;
        padding: 10px 20px;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #4A4A4A;

        &-checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
            margin: 0;
        }
        &:hover {
            background: #F1FCFF;
        }

        &-checkbox {
            & + label {
                height: 20px;
                text-align: center;
                display: flex;
                user-select: none;
            }

            & + label::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                border: 1px solid #9ABBCE;
                border-radius: 2px;
                margin-right: 10px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 70%;
                box-sizing: border-box;
            }

            &:checked+label::before {
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.28571 8L0 4.16123L1.20857 3.0787L4.28571 5.82726L10.7914 0L12 1.09021L4.28571 8Z' fill='%232196F3'/%3E%3C/svg%3E%0A");

            }

            &:not(:disabled):active+label::before {
                background-color: #b3d7ff;
                border-color: #b3d7ff;
            }
            
            &:focus+label::before {
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            }
        }
    }
}

.next-button {
    height: 50px;
    width: 502px;
    margin: 10px;
    background: #2196F3;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

